.App {
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 0.5em 1em;
}

.App-link {
  color: #61dafb;
}

.smallForm {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.expiringFlag {
  background-color: #ffcccc;
}

.overriddenTenant {
  background-color: lightgoldenrodyellow;
}
